In [2]:
import pandas as pd
import datetime as dt

In [3]:
metro_value = 'Metro_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv'
metro_rent = 'Metro_ZORI_AllHomesPlusMultifamily_SSA.csv'

zip_value = 'Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv'
zip_rent = 'Zip_ZORI_AllHomesPlusMultifamily_SSA.csv'

In [52]:
home_value_zip = pd.read_csv(zip_value)
rent_value_zip = pd.read_csv(zip_rent)
zip_code_list = home_value_zip[['RegionName', 'City', 'State']]

In [8]:
target_years = ['2014', '2015', '2016', '2017', '2018', '2019', '2020']
home_value_by_month = []
rent_value_by_month = []

In [9]:
for year in target_years:
    home_data_columns = ['RegionName']
    rent_data_columns = ['RegionName']
    for column in home_value_zip.columns:
        if year in column:
            home_data_columns.append(column)
        else:
            pass
    home_df = home_value_zip[home_data_columns]
    home_value_by_month.append(home_df)
    for column in rent_value_zip.columns:
        if year in column:
            rent_data_columns.append(column)
        else:
            pass
    rent_df = rent_value_zip[rent_data_columns]
    rent_value_by_month.append(rent_df)

In [27]:
for df in home_value_by_month:
    df['Annual Average'] = df.mean(axis=1)

for df in rent_value_by_month:
    df['Annual Average'] = df.mean(axis=1)

In [31]:
home_value_by_year = []
rent_value_by_year = []

for df in home_value_by_month:
    annual_summary = df[['RegionName', 'Annual Average']]
    annual_summary = pd.merge(annual_summary, zip_code_list, on='RegionName')
    annual_summary = annual_summary[['State', 'City', 'RegionName', 'Annual Average']]
    annual_summary = annual_summary.rename(columns={'RegionName': 'ZIP Code', 'Annual Average': 'Home Value'})
    home_value_by_year.append(annual_summary)

for df in rent_value_by_month:
    annual_summary = df[['RegionName', 'Annual Average']]
    annual_summary = pd.merge(annual_summary, zip_code_list, on='RegionName')
    annual_summary = annual_summary[['State', 'City', 'RegionName', 'Annual Average']]
    annual_summary = annual_summary.rename(columns={'RegionName': 'ZIP Code', 'Annual Average': 'Avg Rent'})
    rent_value_by_year.append(annual_summary)

In [59]:
combined_by_zip = []
combined_by_city = []
combined_by_state = []

for i in range(len(home_value_by_year)):
    combined = pd.merge(home_value_by_year[i], rent_value_by_year[i], on='ZIP Code', how='inner')
    combined['Ratio'] = combined['Avg Rent']/combined['Home Value']
    combined = combined[[
        'State_x',
        'City_x',
        'ZIP Code',
        'Home Value',
        'Avg Rent',
        'Ratio'
    ]]
    combined = combined.rename(columns={
        'State_x': 'State',
        'City_x': 'City',
    })
    combined_by_zip.append(combined)
    combined_city = combined[['State', 'City', 'Home Value', 'Avg Rent', 'Ratio']].groupby(['State', 'City']).mean().reset_index()
    combined_by_city.append(combined_city)
    combined_state = combined[['State', 'Home Value', 'Avg Rent', 'Ratio']].groupby('State').mean().reset_index()
    combined_by_state.append(combined_state)

In [67]:
print(len(combined_by_state))

7

In [71]:
yearly_ratios_zip = {
    'ZIP Code': combined_by_zip[0]['ZIP Code']
}
yearly_ratios_city = {
    'City': combined_by_city[0]['City']
}
yearly_ratios_state = pd.DataFrame({
    'State': combined_by_state[0]['State']
})

In [74]:
for i in range(len(combined_by_state)):
    yearly_ratios_state[f'New column {i}'] = combined_by_state[i]['Ratio']*100

In [75]:
print(yearly_ratios_state)

State  New column 0  New column 1  New column 2  New column 3  \
0     AL      3.919653      2.660687      2.617824      2.402707
1     AR     16.924035     11.935846     14.635136     11.149871
2     AZ      4.349514      4.032043      3.732092      3.497790
3     CA      2.832775      2.268166      2.027819      1.818087
4     CO      4.007253      2.974326      2.523895      2.293865
5     CT      2.020598      0.995277      0.908034      0.876561
6     DC      1.163809      0.841405      0.752543      0.704020
7     DE      2.362287      2.021664      1.734852      1.627744
8     FL      2.751715      2.609176      2.264490      2.035165
9     GA      2.642904      2.385459      2.235084      2.017747
10    HI      2.422482      1.813118      1.685042      1.567619
11    IA      4.428873      3.754501      3.272560      3.054173
12    ID      4.794926      4.030529      3.732955      3.409229
13    IL      4.872494      4.112543      3.446000      3.174935
14    IN      4.908617      4.046886      3.701881      3.432963
15    KS      9.435974      6.648656      5.499708      5.028814
16    KY      6.699864      5.102084      4.534621      3.931617
17    LA      5.762641      4.224545      3.283123      2.885556
18    MA      1.604098      0.447081      0.436583      0.422097
19    MD      1.722316      1.504887      1.396147      1.320566
20    MI      7.259881      6.287206      5.939575      5.674840
21    MN      3.457421      2.858241      2.686992      2.410408
22    MO      8.589836      6.755941      6.035734      5.399745
23    MS      4.455290      3.785634      3.660221      3.460511
24    NC      2.096314      1.915853      1.813757      1.659741
25    NE      6.719080      5.713437      4.992804      4.177659
26    NH      0.678546      0.714996      0.671651      0.631379
27    NJ      0.875369      0.803888      0.778053      0.754788
28    NM      5.245043      4.841463      4.606883      4.466556
29    NV      5.008848      5.666671      5.298604      4.249465
30    NY      1.068564      0.836687      0.763554      0.719668
31    OH      8.598604      6.104703      5.072801      4.145733
32    OK      7.153176      5.418667      4.898665      4.613924
33    OR      3.858105      3.090352      2.698220      2.348239
34    PA      2.411928      1.998505      1.872909      1.727841
35    RI      0.717926      0.695185      0.672313      0.643358
36    SC      2.843327      2.421028      2.204225      1.985696
37    TN      4.373603      3.716571      3.235311      2.877215
38    TX      5.464493      4.294364      3.759888      3.386717
39    UT      7.184258      4.511560      3.652870      3.204168
40    VA      1.448771      1.295812      1.252485      1.205601
41    WA      4.071364      3.280012      2.841580      2.461360
42    WI     11.222285      6.253334      4.836923      4.024745

    New column 4  New column 5  New column 6
0       2.346711      2.166871      3.516200
1      10.057683      9.849016     15.988183
2       3.319080      3.150228      5.345227
3       1.684976      1.650139      2.839030
4       2.124544      2.053112      3.542309
5       0.854920      0.847710      1.081085
6       0.676890      0.657016      0.924926
7       1.587723      1.573780      2.455514
8       2.006909      1.824078      2.990354
9       1.833988      1.746521      2.730842
10      1.505291      1.514896      2.729414
11      2.729321      2.622737      4.598525
12      3.202984      2.790617      4.558211
13      2.974592      2.879240      4.998281
14      3.170527      2.956819      4.826228
15      4.666581      4.575792      7.626034
16      3.523956      3.276804      5.331877
17      2.804818      2.751725      4.818601
18      0.408734      0.410666      0.439408
19      1.272391      1.254029      1.928828
20      5.112613      4.689020      7.979190
21      2.252678      2.196439      3.527671
22      4.764957      4.557164      7.793106
23      3.274569      3.055248      4.936224
24      1.565175      1.484832      2.319562
25      3.928278      3.766952      6.334396
26      0.589824      0.581834      0.659245
27      0.723082      0.714207      0.912365
28      4.317033      4.120393      7.127638
29      3.394532      3.288473      5.758766
30      0.687801      0.663348      0.857098
31      3.854270      3.453268      5.690044
32      4.444002      4.296027      7.334238
33      2.224619      2.182276      3.936821
34      1.573822      1.502135      2.288297
35      0.609508      0.593805      0.663316
36      1.879937      1.786054      2.867384
37      2.669104      2.446708      4.150554
38      3.213849      3.061921      5.361374
39      2.905093      2.746389      4.511247
40      1.170273      1.132732      1.721048
41      2.168744      2.098323      3.588814
42      3.575822      3.340825      5.648164